{% extends "UI/coach/base_coach.html" %}
{% block title %}

Capture Video 
{% endblock %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            
            {% if msg %}
                <div class="alert alert-danger" role="alert">{{ msg }}</div>
            {% endif %}
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Capture_Report</h6>
                <form action="/UI/coach/analyse_form" method="POST">
                    <div class="row">
                        <div class="col-md-3">
                            &nbsp;
                        </div>
                        <div class="col-md-12 table-responsive text-nowrap">
                            <table id="data" class="table table-striped">
    
                                <!--Table head-->
                                <thead style="background-color: white;">
                                    <tr style="color:#EB1616;">
                                      <th>Sl.No</th>
                                      <th>Coach_id</th>
                                      <th>Coach_name</th>
                                      <th>Student_Id</th>
                                      <th>Student_Name</th>
                                      <th>Workout</th>
                                      <th> Upload Video</th>

                                      
                                      
                                      
                                      <!--<th>Analyse</th>-->
                                      
    
                                    </tr>
                                </thead>
                                  <!--Table head-->
                        
                                  <!--Table body-->
                               
                                  <tbody>
                                      {% for row in capture_form %}
                                          <tr>
                                              <td>{{ row.0 }}</td>
                                              <td>{{ row.1 }}</td>
                                              <td>{{ row.2 }}</td>
                                              <td>{{ row.3 }}</td>
                                              <td>{{ row.4 }}</td>
                                              <td>{{ row.5 }}</td>
                                              <td>
                                                <video src="{{ url_for('static', filename='uploads/' + row.6)}}" height="200px" width="100px" controls="true"></video>
                                            </td>
                                               
                                              <!--<td><a href="/UI/coach/analyse">Analyse</a>
                                              </td>-->
                                               
                                              
                                                
                                              <!-- <td>
                                                <a href="/UI/Report/feetitleeport/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}"style="width:35px;height:35px;padding:6px 2px"><span class="glyphicon glyphicon-edit" style="width:32px;height:32px"></span></a>
                                                <a href="/deletefeetitle/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')">Delete</a>
                                              </td>
                                               <td>
                                                <a href="/deletefeetitle/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')" style="width:35px;height:35px;padding:6px 2px"><span class="glyphicon glyphicon-trash" style="width:32px;height:32px"></span></a>
                                               </td> -->
                                        </tr>
                                        <!-- <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Update Feetitle</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="/UI/Report/feetitleeport" method="POST">
                                                            <div class="form-group">
                                                                <label>feetitle:</label>
                                                                <input type="hidden"  name="id" value="{{row.0}}">
                                                                <input type="text" class="form-control" name="feetitle"id="feetitle" value="{{row.1}}">
                                 
                                 
                                                            </div>
                                                            <div class="form-group">
                                 
                                 
                                                                <button class="btn btn-primary" type="sbumit">Update</button>
                                 
                                 
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    
                                    </td> 
                                </tr>
                                {% endfor  %}
                            </tbody>
                        </table>
                    </div>
                    


                    
                    
                    
                </form>
                
            </div>
        </div>
    </div>
</div>



{%endblock%}
