{% extends "UI/coach/base_coach.html" %}
{% block title %}

Capture Video 
{% endblock %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            
            {% if msg %}
                <div class="alert alert-danger" role="alert">{{ msg }}</div>
            {% endif %}
            <div class="bg-secondary rounded h-100 p-4">
                
                
                    <form action="/UI/coach/gridview" method="POST" enctype="multipart/form-data">    
                    </form>   

                    
                
            </div>
        </div>
    </div>
</div>



{%endblock%}
